h1{
    color: white;
}
body{
    background-color:#2c3e50 ;
}
h3{
    color: #f1c40f;
}
h2{
    background-color: #f1c40f;
}
li{
    color: white;
}
.aula{
    color: red;
}
#valdemir{
color:green;
font-size: 20px;
}


