*{
    margin: 0px;
    padding: 0px;
}
body{
     background-image: url("comproinclusivass.jpeg");
     background-size: cover;
      background-position: 0% 0%;
    color: rgba(235, 4, 235, 0.758);
    font-family: arial;
}
input{
    display: block;
    height: 55px;
    width: 390px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: rgb(232, 12, 166);
    outline: none;
}
input.io{
     display: block;
    height: 38px;
    width: 350px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: rgb(232, 12, 166);
    outline: none;
}
div#corpo-form{
/*background-color: powderblue;*/
width: 420px;
margin: 150px auto 0px auto;
}
a{
    color: rgb(232, 12, 166);
    text-decoration: none;
    text-align: center;
    display: block;
}
input [type]{
background-color: #ff0066;
border: none;
cursor: pointer;
}
div#corpo-form-cad{
/*background-color: powderblue;*/
width: 420px;
margin: 150px auto 0px auto;
}
div#corpo-form h1, div#corpo-form-cad h1{
    text-align: center;
    padding: 20px;
}
div.erro{
width: 400px;
margin: 10px auto ;
padding: 10px;
 border-radius: 30px;                                 
background-color: rgba(250,128,114,.3);
border: 1px solid rgb( 165,42,42);
}